<header>
  <div class="container">
    <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
      <div></div>
      <ul>
        <li>
          <a [routerLink]="['/']" [routerLinkActive]="['is-active']">Home</a>
        </li>
        <li>
          <a [routerLink]="['bmw']" [routerLinkActive]="['is-active']">BMW</a>
        </li>
        <li>
          <a [routerLink]="['volks']" [routerLinkActive]="['is-active']"
            >Volkswagen</a
          >
        </li>
        <li>
          <a [routerLink]="['donkey']" [routerLinkActive]="['is-active']"
            >DonkeySchool</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>
