<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <span class="p-tag">Formation 2021 à aujourd'hui</span>
        <h1 mt-4>Formation Web Développement</h1>
        <p class="p-des mt-3">
          Je poursuis actuellement une formation en web Développement en
          intensif. J'ai appris divers langages tels que le JavaScript, PHP
          ainsi que les frameworks tels que Symfony et Angular.
        </p>
      </div>
    </div>
  </div>
</section>
