.p-profile {
  background: url(/assets/img/vw.jpeg);
  width: 100%;
  height: 495px;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.p-tag {
  background: #989898;
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
}

.p-des {
  color: #acacac;
  width: 80%;
}
