<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7">
        <span class="p-tag">Présentation</span>
        <h1 mt-4>Océane Raubitschek</h1>
        <p class="p-des mt-3">
          Ayant une formation initiale en finance d'entreprise et titulaire d'un
          master dans le domaine, j'ai été plus de 6 ans analyste crédit
          entreprise. L'année dernière, je décide de me lancer dans une
          reconversion professionnelle pour devenir développeur web. C'est donc
          ainsi que j'ai intégré DonkeySchool en septembre dernier. Je souhaite
          à présent intégrer votre entreprise pour un stage de 6 mois pour
          parfaire mes compétences et gagner en crédibilité sur le marché de
          l'emploi. J'espère de tout coeur pouvoir concrétiser mon projet.
        </p>
      </div>
    </div>
  </div>
</section>
